extends ../layout

block content
  -
    var panels = [ "TO-DO", "In progress...", "DONE", "Rejected" ]

  div
    .row-fluid
      each panel, index in panels
        .col-sm-6.col-md-4.col-lg-3.cardcol.tasks-panel
          .panel.panel-primary
            .panel-heading
              h3.panel-title= panel
              if panel === "TO-DO"
                button#newCard.btn.btn-primary.newnotebtn(type='button', data-toggle='modal', data-target='#myModal')
                  span.glyphicon.glyphicon-pushpin
                  |  new note
            .panel-body
              ul.list-group(data-status=index)
                if !tasks[index]
                  li.list-group-item.dummy
                else
                  each task in tasks[index]
                    li.list-group-item.task-item(data-id=task._id)
                      span.glyphicon.glyphicon-trash.right.remove
                      span.glyphicon.glyphicon-pencil.right.edit(type='button', data-toggle='modal', data-target='#myModal')
                      h4.title= task.title
                      p.prewrap.description= task.description
                      input(type='hidden', name='idTask', value=task._id)

      include modalForm.pug